[submodule "blogpage/themes/hugo-coder"]
	path = blogpage/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "blogpage/themes/freshstart"]
	path = blogpage/themes/freshstart
	url = https://github.com/rz3n/hugo-theme-freshstart.git
[submodule "blogpage/themes/hugo-clarity"]
	path = blogpage/themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
[submodule "blogpage/ramium"]
	path = blogpage/ramium
	url = https://github.com/rafed/ramium.git
